<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/reelplayer' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <section class="body-container" >
      <%= yield %>
    </section>
    <%= render 'layouts/footer' %>
  </body>
</html>
