<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header id="header" class="fixed above" >
    <div id="logo-container" class="top" >
      <%= link_to "LIVE", "#", :id => "live", :class => "left centered" %>
      <%= link_to "/", :id => "logo", :class => "middle centered" do %>
        <span id="logo-text-left">REEL</span><span id="logo-text-right">RADIO.fm</span>
      <% end %>
      <%= link_to '', '#', :id => 'refresh', :class => 'right' %>
    </div>
      <div id="player" class="bottom"></div>
    </header>
    <section id="body" >
      <%= yield %>
    </section>
    <footer id="footer" class="fixed above" >
      <%= link_to '', '/', :id => 'home', :class => 'left' %>
      <%= link_to '', '/', :id => 'playlist', :class => 'right' %>
    </footer>
  </body>
</html>
